<html>
  <head>
    <title>Login Successful</title>
    <!-- Load Bootstrap styles -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Load custom CSS for dark theme -->
    <style>
      body { background-color: #333; color: #fff; } p { margin-top: 50px; }
      input[type="text"], input[type="password"] { background-color: #555;
      color: #fff; border: none; border-radius: 3px; padding: 5px;
      margin-bottom: 10px; }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>